/* Add your desired styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal.show {
    display: flex;
  }
  
  .modal-overlay {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content {
    width: 400px; /* Adjust the width as needed */
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .modal-body {
    margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  label[for="fileInput"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  .modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-left: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #007bff;
    color: white;
  }
  